In [2]:
import pandas as pd
import numpy as np

In [ ]:
def stad_scalers(values=[list]) -> list:
    return (values - np.mean(values)) / np.std(values)

In [28]:
def min_max_scalar(values=[list]) -> list:
    return (values - min(values)) / (max(values) - min(values))

In [ ]:
a=[12,23,34,54,56,67,67]
stad_scalers(a)
print(np.mean(a))
print(np.std(a))

44.714285714285715
20.225262037605248

In [14]:
stad_scalers(a)

array([-1.61749626, -1.07362197, -0.52974768,  0.45911466,  0.55800089,
        1.10187518,  1.10187518])

In [20]:
data = {
    'name':['sachin','virat','rohit','dhoni','rahul','surya','hardik','bahji','yuvraj','rishabh'],
    'runs':np.random.randint(3000,5000,10),
    'city':['mumbai','dilhi','mumbai','ranchi','mumbai','varodara','punjab','Jalandhar','Chandigarh','Roorkee'],
    'age':np.random.randint(26,45,10)
}

In [22]:
df = pd.DataFrame(data)

In [23]:
df

      name  runs        city  age
0   sachin  4822      mumbai   32
1    virat  3262       dilhi   41
2    rohit  4091      mumbai   28
3    dhoni  3904      ranchi   27
4    rahul  3732      mumbai   42
5    surya  3770    varodara   35
6   hardik  3521      punjab   29
7    bahji  4846   Jalandhar   40
8   yuvraj  3224  Chandigarh   34
9  rishabh  3614     Roorkee   29

In [25]:
df['scaled runs'] =stad_scalers(df['runs'])

In [29]:
df['normalize age'] = min_max_scalar(df['age'])

In [30]:
df

      name  runs        city  age  scaled runs  normalize age
0   sachin  4822      mumbai   32     1.748387       0.333333
1    virat  3262       dilhi   41    -1.142734       0.933333
2    rohit  4091      mumbai   28     0.393637       0.066667
3    dhoni  3904      ranchi   27     0.047073       0.000000
4    rahul  3732      mumbai   42    -0.271691       1.000000
5    surya  3770    varodara   35    -0.201267       0.533333
6   hardik  3521      punjab   29    -0.662734       0.133333
7    bahji  4846   Jalandhar   40     1.792866       0.866667
8   yuvraj  3224  Chandigarh   34    -1.213159       0.466667
9  rishabh  3614     Roorkee   29    -0.490379       0.133333